{% extends 'base.html' %}

{% block content %}

  <h2>Dashboard about customer engagement</h2>
  <div class="row">
    <div class="col-md-12">
      {{ graph|safe }}
    </div>
  </div>

  {{ js_files|safe }}

  <br><br>
  <div>
    <h2>
      Question: Which demographic factors (e.g. household size, presence of children, income) appear to affect customer engagement?
    </h2>
    <h2>
      Answer: Household size: In industries like grocery retail, household size can be an important factor in customer engagement. Larger households may require more frequent and larger purchases, and may be more likely to respond to targeted promotions and loyalty programs.
    </h2>
  </div>

{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    h2 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    
    form {
      display: flex;
      margin-bottom: 50px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
{% endblock %}
