{% extends 'base.html' %}

{% block content %}

  <h3>Web page to load new data</h2>
    <div class="container">
      <h2>
        Click the buttons below to load the most recent data files into the database.
      </h2>
      <br>
      <form method="post" action="/load/transaction">
        <input type="submit" value="Load Transaction Data">
      </form>
      <form method="post" action="/load/household">
          <input type="submit" value="Load Household Data">
      </form>
      <form method="post" action="/load/product">
        <input type="submit" value="Load Product Data">
      </form> 
    </div>

{% endblock %}

{% block styles %}
  {{ super() }}
  <style>
    h2 {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 20px;
    }
    
    form {
      display: flex;
      margin-bottom: 50px;
    }
    
    input[type="submit"] {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
{% endblock %}
